body
#p1 .s { background: #222; }
#p2 .s, .w { background: skyblue; }
.d { background: red;}
.m { background: gray; }
#p1 div, #p2 div { width: 40px; height: 40px; float: left; }
#p1, #p2 { width: 400px; height: 400px; float: left; margin: 10px;}
#qunit {
	bottom: 0;
	top: auto;
}